<div class="forgot-password-container">
  <h4 class="title">Resetare Parolă</h4>
  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="sendResetLink()"
    class="form"
  >
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        placeholder="Introduceți adresa de email"
        formControlName="email"
      />
      <span
        *ngIf="
          forgotPasswordForm.get('email')?.invalid &&
          forgotPasswordForm.get('email')?.touched
        "
        class="validation-message"
      >
        Introduceți un email valid.
      </span>
    </div>
    <button type="submit" class="btn" [disabled]="forgotPasswordForm.invalid">
      Trimite link-ul de resetare
    </button>
  </form>
</div>
