<div class="container">
  <div class="card-wrapper">
    <!-- Card Lecții -->
    <mat-card class="custom-card" (click)="navigateToLessons()">
      <mat-card-title>Lecții</mat-card-title>
      <mat-card-content>
        Accesează lecții interactive și explicate pas cu pas.
      </mat-card-content>
    </mat-card>

    <!-- Card Teste -->
    <mat-card class="custom-card" (click)="navigateToTests()">
      <mat-card-title>Teste de Antrenament</mat-card-title>
      <mat-card-content> Decarca testele din anii anteriori. </mat-card-content>
    </mat-card>

    <!-- Card Utilizatori -->
    <mat-card
      class="custom-card"
      (click)="navigateToUserStats()"
      *ngIf="isAdmin"
    >
      <mat-card-title>Utilizatori & Progres</mat-card-title>
      <mat-card-content>
        Vezi lista de utilizatori și progresul fiecăruia la teste și lecții.
      </mat-card-content>
    </mat-card>
  </div>
</div>
