<div class="container">
  <div class="card-wrapper">
    <!-- Card Lecții -->
    <mat-card class="custom-card" (click)="navigateToLessons()">
      <mat-card-title>Lecții</mat-card-title>
      <mat-card-content>
        Accesează lecții interactive și explicate pas cu pas.
      </mat-card-content>
    </mat-card>

    <!-- Card Teste -->
    <mat-card class="custom-card" (click)="navigateToTests()">
      <mat-card-title>Teste de Antrenament</mat-card-title>
      <mat-card-content>
        Evaluează-ți cunoștințele cu teste interactive.
      </mat-card-content>
    </mat-card>
  </div>
</div>
