<section class="section">
  <div class="container">
    <h2>Completează profilul tău</h2>
    <form [formGroup]="profileForm" (ngSubmit)="submit()">
      <div class="form-group">
        <input
          type="text"
          class="form-style"
          placeholder="Nume utilizator"
          formControlName="username"
        />
        <small
          *ngIf="
            profileForm.get('username')?.hasError('minlength') &&
            profileForm.get('username')?.touched
          "
          class="error-msg"
        >
          Numele de utilizator trebuie să aibă cel puțin 6 caractere.
        </small>
        <small
          *ngIf="
            profileForm.get('username')?.hasError('usernameTaken') &&
            profileForm.get('username')?.touched
          "
          class="error-msg"
        >
          Acest nume de utilizator este deja folosit.
        </small>
      </div>

      <div class="form-group">
        <select formControlName="userRole" class="form-style">
          <option value="STUDENT">Student</option>
          <option value="TEACHER">Profesor</option>
        </select>
      </div>

      <button class="btn" type="submit" [disabled]="profileForm.invalid">
        Salvează
      </button>
    </form>
  </div>
</section>
