<section class="forgot-password-section">
  <div class="forgot-password-card">
    <h2 class="title">🔐 Resetare parolă</h2>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetLink()">
      <div class="form-group">
        <label for="email">Adresă de email</label>
        <input
          id="email"
          type="email"
          class="form-control"
          placeholder="ex: email@exemplu.com"
          formControlName="email"
        />
        <small
          *ngIf="
            forgotPasswordForm.get('email')?.invalid &&
            forgotPasswordForm.get('email')?.touched
          "
          class="validation-message"
        >
          Introduceți un email valid.
        </small>
      </div>

      <button type="submit" class="btn" [disabled]="forgotPasswordForm.invalid">
        📧 Trimite link-ul de resetare
      </button>
    </form>
  </div>
</section>
