<header>
  <nav class="navbar" aria-label="Main Navigation">
    <div class="logo">
      <!-- Buton Meniu în navbar -->
      <button class="menu-button" (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>BacInfoLearn</h1>

      <button
        *ngIf="isLoggedIn"
        (click)="navigateToProfile()"
        class="profile-button"
        aria-label="Profil utilizator"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>

    <div class="nav-links">
      <a routerLink="/home" class="nav-link" aria-label="Lectii"
        >Lecții si Teste</a
      >
    </div>

    <div>
      <button *ngIf="isLoggedIn" (click)="logout()" class="logout-button">
        Logout
      </button>
      <button
        *ngIf="!isLoggedIn"
        (click)="navigateToLogin()"
        class="login-button"
      >
        Autentificare
      </button>
    </div>
  </nav>
</header>

<!-- Sidebar și overlay -->
<div *ngIf="isSidebarOpen" class="overlay" (click)="toggleSidebar()"></div>
<app-sidebar *ngIf="isSidebarOpen" class="floating-sidebar"></app-sidebar>

<main role="main">
  <router-outlet></router-outlet>
</main>

<footer>
  <p>© {{ currentYear }} BacInfoLearn. All Rights Reserved.</p>
</footer>
