<div class="lesson-page">
  <div *ngIf="lectie" class="lesson-card">
    <h1 class="lesson-title">{{ lectie.title }}</h1>
    <p class="lesson-subtitle">{{ lectie.description }}</p>

    <div class="lesson-buttons">
      <button
        mat-raised-button
        color="accent"
        *ngIf="isAdmin"
        [routerLink]="['/editeaza-lectie', lectie.id]"
      >
        ✏️ Editează Lecția
      </button>
      <button
        mat-raised-button
        color="accent"
        *ngIf="isTeacher && testId"
        (click)="exportTestAsPDF()"
      >
        📄 Exportă Testul
      </button>
    </div>

    <div *ngIf="isAdmin" class="admin-section">
      <ng-container *ngIf="!testId; else testExists">
        <button
          mat-raised-button
          color="accent"
          [routerLink]="['/adauga-test', lectie.id]"
        >
          ➕ Adaugă Test
        </button>
      </ng-container>
      <ng-template #testExists>
        <p class="test-info">✅ Lecția are deja test asociat.</p>
        <div class="admin-test-buttons">
          <button
            mat-raised-button
            color="primary"
            [routerLink]="['/editeaza-test', testId]"
          >
            ✏️ Editează Testul
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="confirmaStergereTest()"
          >
            🗑️ Șterge Testul
          </button>
        </div>
      </ng-template>
    </div>

    <div class="lesson-content">
      <div class="pagination-controls">
        <button
          mat-button
          (click)="paginaAnterioara()"
          [disabled]="paginaCurenta === 0"
        >
          ⬅ Anterior
        </button>
        <span>Pagina {{ paginaCurenta + 1 }} / {{ pagini.length }}</span>
        <button
          mat-button
          (click)="paginaUrmatoare()"
          [disabled]="paginaCurenta === pagini.length - 1"
        >
          Următor ➡
        </button>
      </div>

      <div class="page-content" [innerHTML]="pagini[paginaCurenta]"></div>

      <div
        *ngIf="paginaCurenta === pagini.length - 1 && !isAdmin"
        class="text-center"
      >
        <button
          mat-raised-button
          class="start-test-button"
          (click)="startTest()"
        >
          🚀 Începe Testul
        </button>
      </div>

      <div class="pagination-controls">
        <button
          mat-button
          (click)="paginaAnterioara()"
          [disabled]="paginaCurenta === 0"
        >
          ⬅ Anterior
        </button>
        <span>Pagina {{ paginaCurenta + 1 }} / {{ pagini.length }}</span>
        <button
          mat-button
          (click)="paginaUrmatoare()"
          [disabled]="paginaCurenta === pagini.length - 1"
        >
          Următor ➡
        </button>
      </div>
    </div>
  </div>
</div>
