<section class="section">
  <div class="container">
    <h2>Completează profilul tău</h2>
    <form [formGroup]="profileForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="username">Nume utilizator</label>
        <input
          id="username"
          type="text"
          class="form-style"
          placeholder="ex: utilizator123"
          formControlName="username"
        />
        <small
          *ngIf="
            profileForm.get('username')?.hasError('minlength') &&
            profileForm.get('username')?.touched
          "
          class="error-msg"
        >
          Min. 6 caractere.
        </small>
        <small
          *ngIf="
            profileForm.get('username')?.hasError('usernameTaken') &&
            profileForm.get('username')?.touched
          "
          class="error-msg"
        >
          Acest nume este deja folosit.
        </small>
      </div>

      <div class="form-group">
        <label for="userRole">Rol</label>
        <select id="userRole" formControlName="userRole" class="form-style">
          <option value="STUDENT">Student</option>
          <option value="TEACHER">Profesor</option>
        </select>
      </div>

      <button class="btn" type="submit" [disabled]="profileForm.invalid">
        💾 Salvează
      </button>
    </form>
  </div>
</section>
